<div class="candles" id="candles">
  <div class="candle">
    <div class="flame"></div>
  </div>
  <div class="candle">
    <div class="flame"></div>
  </div>
  <div class="candle">
    <div class="flame"></div>
  </div>
</div>
